h2 {
  text-align: center;
  margin-top: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.pokemonFormInputs {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pokemonPowers {
  display: flex;
  gap: 1rem;
  margin: 8px 0;
}

#labels {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#rangeLabels {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.pokemonFormData {
  border: 3px solid lightgray;
  padding: 1rem;
}

.pokemonFormDataAttributes {
  display: flex;
  justify-content: center;
  gap: 15rem;
}

.inputText {
  border-radius: 0.2rem;
  border: 2px solid lightgray;
  height: 30px;
  box-shadow: 0 0 2px #719ece;
}

input:focus {
  outline: none !important;
  border: 1px solid red;
}

.actionsButtons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

input[type="range"] {
  accent-color: purple;
}
