.App {
  margin: 3rem;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

table,
th,
td {
  border: 3px solid lightgray;
  border-collapse: collapse;
}

table {
  width: 100%;
  height: 200px;
}

.pokemonListContainer {
  height: 15rem;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

td {
  text-align: left;
  padding-left: 10px;
}

th {
  padding: 0.8rem;
}

/* CUSTOM STYLES */
.headerStyles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.tableActionsStyles {
  text-align: center;
  padding-left: 0;
}

.pokemonListImg {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.reusableButtonStyles {
  align-items: center;
  background-color: #673ab7d9;
  color: white;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: #535cc3;
}

.reusableButtonStyles img {
  height: 20px;
}

.customStyles {
  background-color: #fff;
  border: none;
}

.customStyles img {
  height: 20px;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: #cfcad8d9;
  cursor: not-allowed;
}

.pokemonListActionsSpinner {
  height: 20px;
  width: 20px;
  align-items: center;
}

.pokemonListDeleteBtn {
  margin-left: 20px;
}

.operationsSearchInput {
  background: url(https://img.icons8.com/ios-glyphs/30/737373/search--v1.png)
    no-repeat scroll 8px 6px;
  padding-left: 35px;
  padding-bottom: 5px;
  height: 30px;
  background-size: 20px;
  border: 2px solid lightgray;
}

.alertContainer {
  background-color: green;
  position: absolute;
  width: 300px;
  top: 20px;
  right: 45%;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.alertContainer p {
  margin: 0;
  border: 2px solid white;
  padding: 1rem;
  font-size: 20px;
}

.alertContainer button {
  display: flex;
  justify-content: end;
  background-color: green;
  border: none;
  width: 100%;
  margin-bottom: 5px;
}

.alertContainer img {
  height: 20px;
}

