.App {
  margin: 3rem;
}

table,
th,
td {
  border: 3px solid lightgray;
}

table {
  width: 100%;
  height: 200px;
}

.pokemonListContainer {
  height: 15rem;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

td {
  text-align: left;
  padding-left: 10px;
}

th {
  padding: 0.8rem;
}

/* CUSTOM STYLES */

.headerStyles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.headerNewPokemonBtn {
  /* width: 100%; */
}

.tableActionsStyles {
  /* justify-content: center;
  margin-top: 15px;
  gap: 1rem;
  display: flex; */
}

.pokemonListImg {
  height: 50px;
  display: flex;
  justify-content: center;
}

.reusableButtonStyles {
  background-color: #535CC3;
  color: white;
  padding: 0.3rem;
}
